meta(charset="UTF-8")
title Reddit WebDev Site

meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", rel="stylesheet", type="text/css")
link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
link(rel="stylesheet" href="dist/css/app.min.css")

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
