main
    section.site-description
        .container
            p.col-1.general-col Our awesome site description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ab unde optio nobis repudiandae, quas, quae delectus dolore placeat nulla saepe asperiores repellat amet sunt praesentium, atque cupiditate consequatur labore!
            p.col-2.general-col Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati unde, inventore facilis provident, dolor asperiores quidem ipsum quas vel, ipsa aliquam doloribus. Fuga dicta expedita quod, enim provident quibusdam deserunt!

    include _developer-profiles

    include _reddit-feed
