extend _layout

block head
    meta(name="description", content="Welcome to RedditWebDev, a catalogue of useful resources for budding developers!")

block header
    include _nav
    include _header

block content
    include _main

block footer
    include _footer
    include _scripts
